<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  
  <servlet>
  <servlet-name>test</servlet-name>
  <servlet-class>com.ylch.test.Myservlet</servlet-class>
</servlet>

  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>zip</servlet-name>
    <servlet-class>com.ylch.test.ZipServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>zip</servlet-name>
    <url-pattern>/zip</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>csv</servlet-name>
    <servlet-class>com.ylch.test.CsvServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>csv</servlet-name>
    <url-pattern>/csv</url-pattern>
  </servlet-mapping>

</web-app>
