<?xml version="1.0" encoding="utf-8" ?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:ylc="http://www.jd.com/schema/spring-test-schema"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                 http://www.jd.com/schema/spring-test-schema
                 http://www.jd.com/schema/spring-test-schema.xsd"
             default-autowire="byName">

    <ylc:service id="test2" userName="ylchb" email="1113"/>

    <ylc:service id="test" userName="ylch" email="111"  ref="test2"/>

  <!--  <ylc:controller id="test2" userName="ylch3232" email="1112222"/>-->
</beans:beans>